<link rel="stylesheet" href="./contacto.component.css">
<div class="container">
    <div class="fondo">
        
        <div class = "boxh">
            <h2>Servicios</h2>
            <h3>Tenemos una gran gama de<br>
                soluciones para llevar al maxiomo <br> el nivel tu compañia</h3>           
        </div>
        
    </div>
</div>



<footer>
    <div class="group1">
        <div class="box">
            <h2>Turing Inteligencia Artificial</h2>
            <h3>Av. Insurgentes 601 Col. Nápoles, Benito Juárez
                Ciudad de México, México</h3>
        </div>
        <div class="box">
            <h2>Mapa de sitio</h2>
            <ol class="letra">
                <li type="circle"><a [routerLink]="['']">Inicio</a></li>
                <li type="circle"><a [routerLink]="['Nosotros']">Nosotros</a></li>
                <li type="circle"><a [routerLink]="['Servicios']">Servicios</a></li>
                <li type="circle"><a [routerLink]="['Tableau']">Tableau</a></li>
            </ol>
        </div>
        <div class="box">


        </div>
    </div>

</footer>