<link rel="stylesheet" href="./nosotros.component.css">
<div class="container">
    <div class="fondo">        
        <div class = "boxh">
            <h2>Nosotros</h2>
            <h3>Somos Especialistas en <br>
                Proyectos de Business Analytics</h3>           
        </div>
        
    </div>
</div>



<footer>
    <div class="groupf">
        <div class="boxf">
            <h2>Turing Inteligencia Artificial</h2>
            <h3>Av. Insurgentes 601 Col. Nápoles, Benito Juárez
                Ciudad de México, México</h3>
        </div>
        <div class="boxf">
            <h2>Mapa de sitio</h2>
            <ol class="letraf">
                <li type="circle"><a [routerLink]="['']">Inicio</a></li>
                <li type="circle"><a [routerLink]="['Nosotros']">Nosotros</a></li>
                <li type="circle"><a [routerLink]="['Servicios']">Servicios</a></li>
                <li type="circle"><a [routerLink]="['Tableau']">Tableau</a></li>
            </ol>
        </div>
        <div class="box">


        </div>
    </div>

</footer>